body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: darkblue;
}

table {
  margin: auto;
  border-collapse: collapse;
}

th {
  background-color: #4CAF50;
  color: white;
}

td,
th {
  padding: 10px;
  text-align: center;
}